include *.pyx
include *.pxd
include README.rst
graft jlog
graft libjlog

#exclude all bytecode
global-exclude *.pyo
global-exclude *.pyc
global-exclude *.o
global-exclude *.a
global-exclude *.so
include libjlog.so.2
global-exclude *.lo

prune jlog/build
prune jlog/dist
prune jlog/*.cache
prune jlog/perl
prune jlog/java
prune jlog/php
prune jlog/python
prune jlog/jlog.egg-info
prune jlog/.git
